
<div class="top">
  <section class="top-left">
    <div class="logo-box">
      <h3 class="star-logo">*</h3>
      <h2>Starfreak</h2>
      <a class="hamburger-menu invisible" href="#">III</a>
    </div> 
    <section class="circle-art">
      <div>
        <h1>534</h1>
        <p>Projects</p>
      </div>
      <h1>534</h1>
      <img src="../assets/circle.png" alt="">
    </section>
  </section>
  <section class="top-right">
    <div class="menu-box">
      <ul class="navigation">
        <li><a  class="visible" href="#">Work</a></li>
        <li><a  class="visible" href="#">Services</a></li>
        <li><a  class="visible" href="#">About</a></li>
        <li><a  class="visible" href="#">Clients</a></li>
        <li><a class="last-link visible" href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="hero-title">
      <h1>We Give Your Brand The Due Attention</h1>
      <div class="hero-subtitle">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio praesentium recusandae commodi asperiores.</p>
    
      </div>
    </div>
  </section> 
  
</div>

<div class="top-2">
  <section class="top-left-2">
    <div class="logo-box-2">
      <h1 class="star">*</h1>
    </div> 
  </section>
  <section class="top-right-2">
    
    <div class="hero-subtitle-2">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet tenetur facere deserunt laborum sint, quae tempora nisi esse omnis aspernatur, perspiciatis aliquam obcaecati! Dignissimos suscipit optio labore exercitationem quas.</p>
    </div>
    <div class="big-letter">
      <h1>L</h1>
    </div>
    
  </section> 
  
</div>


<router-outlet></router-outlet>
